<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Accueil</title>

  <!-- Bootstrap core CSS -->
  <link href="../css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->

  <link href="business-casual.min.css" rel="stylesheet" th:href="@{../css/business-casual.min.css}">

</head>

<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Services D'entreprise</span>
    <span class="site-heading-lower">Société Taylor</span>
  </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Société Taylor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" th:href="@{/Accueil}">Accueil
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" th:href="@{/About}">A Propos</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" th:href="@{/Services}">Réserver</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" th:href="@{/storePage}">Mes Réservations</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" th:href="@{/Statistiques}">Statistiques</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Services 100% Fiables</span>
            <span class="section-heading-lower">Pour le travail mais pas seulement !</span>
          </h2>
          <p class="mb-3">Nous vous proposons un service de qualité, entièrement gratuit, vous permettant de réserver un Bureau, une salle de réunion et bien d'autres ! En seulement quelques Clicks
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" th:href="@{/Services}">Réservez Maintenant !</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Guide d'utilisation</span>
            </h2>
            <p class="mb-0">Pour utiliser notre logiciel, c'est très simple ! Allez dans la catégorie "Réserver" puis sélectionnez parmis notre grande liste ce que vous souhaitez réserver. Remplissez le formulaire et le tour est joué !</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">contactez nous en cas de problèmes au : 06.67.82.96.47</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../css/vendor/jquery/jquery.min.js"></script>
  <script src="../css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>