<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

	
	<head>
		<meta charset="UTF-8" />
		<title>PGDB</title>
		<link rel="stylesheet" href="style.css" media="screen" type="text/css" th:href="@{../css/index.css}"/>
	</head>
	
	<body>
    	<div id="container">
    		<!-- <img src='../static/images/userPicture.jpg' class="userPicture" alt="Image Utilisateur" th:src="@{/images/userPicture.jpg}"/> -->
    		      
    		
       		<form th:action="@{/index}" th:object="${compteForm}" method="POST">  
       			<h1>Connexion</h1>   
       			     
	            <label for="nom"><b>Nom d'utilisateur</b></label> <br>
	            <input type="text" th:field="*{userName}" name="username" placeholder="Entrer le nom d'utilisateur" required /> <br>
	            
	            <label for="nom">Mot de passe</label> <br>
	            <input type="password" th:field="*{password}" name="password" placeholder="Mot de passe" required /> <br>
	                    
	            <input type="submit" id='submit' value="LOGIN" />                       
			</form>
			
		</div> 
    </body>
</html>