<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Projet M1</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet" th:href="@{../css/vendor/bootstrap/css/bootstrap.min.css}">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
	<link href="business-casual.min.css" rel="stylesheet" th:href="@{../css/business-casual.min.css}">
  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">Services D'entreprise</span>
      <span class="site-heading-lower">Société Taylor</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Société Taylor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" th:href="@{/Accueil}">Accueil
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" th:href="@{/About}">A propos</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" th:href="@{/Services}">Réserver</a>
            </li>
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" th:href="@{/storePage}">Mes réservations</a>
            </li>
              <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" th:href="@{/Statistiques}">Statistiques</a>
          </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-5">
                <span class="section-heading-upper">Mes Réservations</span>
              </h2>
     
     
     <br/><br/>
      <div>
         <table style="
    width: 80%;    text-align: center;"border="1">
            <tr>
               <th style="width: 12.5%">ID Réservation</th>
               <th style="width: 12.5%">Site</th> 
               <th style="width: 12.5%">Numéro du Bureau</th>                           
               <th style="width: 12.5%">Capacité</th>
               <th style="width: 12.5%">Date de début</th>
               <th style="width: 12.5%">Date de fin</th>
               <th style="width: 12.5%">Etat</th>
               <th style="width: 12.5%">Validation</th>
            </tr>
           <!--  <form th:action="@{/Dispo}" th:object="${listeBureauDispo} method="GET">    --> 

 
            <tr th:each="bureauR : ${listeRBureauDispo}">
               <td th:utext="${bureauR._id}">...</td>  
               <td th:utext="${bureauR.bureau.site}">...</td>
               <td th:utext="${bureauR.bureau.nom}">...</td>
               <td th:utext="${bureauR.bureau.capacite}">...</td>              
               <td th:utext="${bureauR.dateDebut}">...</td>
               <td th:utext="${bureauR.dateFin}">...</td>
               <td th:utext="${bureauR.etat}">...</td>
               <td><a th:href="@{RetrievesNameRBureau?getID={id}(id=${bureauR._id})}">Annuler</a></td>
                        
              
            </tr>

          <!--   </form>  --> 
         </table>
      </div>
      
      <br/><br/><br/>
      <div>
         <table style="
    width: 80%;    text-align: center;"border="1">
            <tr>
               <th style="width: 12.5%">ID Réservation</th>
               <th style="width: 12.5%">Site</th> 
               <th style="width: 12.5%">Numéro de Salle</th>                           
               <th style="width: 12.5%">Capacité</th>
               <th style="width: 12.5%">Date de début</th>
               <th style="width: 12.5%">Date de fin</th>
               <th style="width: 12.5%">Etat</th>
               <th style="width: 12.5%">Validation</th>
            </tr>
           <!--  <form th:action="@{/Dispo}" th:object="${listeBureauDispo} method="GET">    --> 

 
            <tr th:each="salleReservation : ${listeRSalleDispo}">
               <td th:utext="${salleReservation._id}">...</td>
               <td th:utext="${salleReservation.salleReunion.site}">...</td>  
               <td th:utext="${salleReservation.salleReunion.nom}">...</td>                              
               <td th:utext="${salleReservation.salleReunion.capacite}">...</td>
               <td th:utext="${salleReservation.dateDebut}">...</td>
               <td th:utext="${salleReservation.dateFin}">...</td>
               <td th:utext="${salleReservation.etat}">...</td>
               <td><a th:href="@{RetrievesNameRSalleReservation?getID={id}(id=${salleReservation._id})}">Annuler</a></td>
                        
              
            </tr>

          <!--   </form>  --> 
         </table>
      </div>
      
      
      <br/><br/><br/>
      <div>
         <table style="
    width: 80%;    text-align: center;"border="1">
            <tr>
               <th style="width: 12.5%">ID Réservation</th>
               <th style="width: 12.5%">Site</th>
               <th style="width: 12.5%">Numéro Place</th>               
			   <th style="width: 12.5%">Etage</th>
			   <th style="width: 12.5%">Date de début</th>
               <th style="width: 12.5%">Date de fin</th>
               <th style="width: 12.5%">Etat</th>           
               <th style="width: 12.5%">Validation</th>
            </tr>
            <tr th:each ="placeReservation : ${listeRPlaceDispo}">
               <td th:utext="${placeReservation._id}">...</td>
               <td th:utext="${placeReservation.placeParking.site}">...</td>
               <td th:utext="${placeReservation.placeParking.numero}">...</td>                
               <td th:utext="${placeReservation.placeParking.etage}">...</td>
               <td th:utext="${placeReservation.dateDebut}">...</td>
               <td th:utext="${placeReservation.dateFin}">...</td>
               <td th:utext="${placeReservation.etat}">...</td>
               <td><a th:href="@{RetrievesNameRPlaceParkingReservation?getID={id}(id=${placeReservation._id})}">Annuler</a></td>
            </tr>
         </table>
      </div>
      
      
      <br/><br/><br/>
      <div>
         <table style="
    width: 80%;    text-align: center;"border="1">
            <tr>
               <th style="width: 14.3%">ID Réservation</th>
               <th style="width: 14.3%">Site</th>
               <th style="width: 14.3%">Nom Menu</th>                  
               <th style="width: 14.3%">Type</th>
               <th style="width: 14.3%">Etat</th>
               <th style="width: 14.3%">Date</th>
               <th style="width: 14.3%">Validation</th>
            </tr>
            <tr th:each ="repasReservation : ${listeRRepasDispo}">
               <td th:utext="${repasReservation._id}">...</td>
               <td th:utext="${repasReservation.plateauRepas.site}">...</td>
               <td th:utext="${repasReservation.plateauRepas.nom}">...</td>                
               <td th:utext="${repasReservation.plateauRepas.type}">...</td>
               <td th:utext="${repasReservation.dateDebut}">...</td>
               <td th:utext="${repasReservation.etat}">...</td>
               <td><a th:href="@{RetrievesNameRPlateauRepasReservation?getID={id}(id=${repasReservation._id})}">Annuler</a></td>
            </tr>
         </table>
      </div>  
      
      
            <br/><br/><br/>
      <div>
         <table style="
    width: 80%;    text-align: center;"border="1">
            <tr>
               <th style="width: 16.6%">ID Réservation</th>
               <th style="width: 16.6%">Site</th>
               <th style="width: 16.6%">Nom Visiteur</th>
               <th style="width: 16.6%">Prénom Visiteur</th>               
               <th style="width: 16.6%">Etat</th>
               <th style="width: 16.6%">Validation</th>
            </tr>
            <tr th:each ="badgeReservation : ${listeRBadgeDispo}">
               <td th:utext="${badgeReservation._id}">...</td>
               <td th:utext="${badgeReservation.badgeVisiteur.site}">...</td>
               <td th:utext="${badgeReservation.badgeVisiteur.nomVisiteur}">...</td> 
               <td th:utext="${badgeReservation.badgeVisiteur.prenomVisiteur}">...</td>               
               <td th:utext="${badgeReservation.etat}">...</td>
               <td><a th:href="@{RetrievesNameRBadgeVisiteurReservation?getID={id}(id=${badgeReservation._id})}">Annuler</a></td>
            </tr>
         </table>
      </div> 
      
         
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">contactez nous en cas de problèmes au : 06.67.82.96.47</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../css/vendor/jquery/jquery.min.js"></script>
    <script src="../css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>
  

</html>